modules = ["python-3.12", "postgresql-16"]
run = "streamlit run --server.headless true main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run --server.headless true --server.baseUrlPath situatelearning main.py"]
deploymentTarget = "cloudrun"
deploymentName = "situatelearning"

[[ports]]
localPort = 8501
externalPort = 80
